:root {
    --primary-background-color: #202d36;
    --secondary-background-color: #2b3743;
    --secondary-back-color-hover: #3a4656;
    --primary-font: "Montserrat", sans-serif; 
    --font-color: #faffff;
}

.principal {
    height: auto;
}

.apresentacao {
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
}

.apresentacao__titulo {
    font-weight: 600;
    text-align: justify;
}

.apresentacao__subtitulo {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: justify;
}

.apresentacao__paragrafo {
    text-align: justify;
}

.paragrafo__tabela td, .paragrafo__tabela th {
    text-align: center;
    border: 1px solid var(--font-color);
    padding: 4px;
}

.apresentacao__paginacao {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.paginacao__botao {
    color: var(--font-color);
    padding: 10px;
    border: 1px solid var(--font-color)
}

.paginacao__botao:hover {
    background-color: var(--secondary-back-color-hover);
}

@media (max-width: 800px) {
    .apresentacao__titulo, .apresentacao__subtitulo, 
    .apresentacao__paragrafo, .paragrafo__tabela {
        padding: 10px;
    }
}