@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-background-color: #202d36;
    --secondary-background-color: #2b3743;
    --secondary-back-color-hover: #3a4656;
    --primary-font: "Montserrat", sans-serif; 
    --font-color: #faffff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    height: 100%;
}

.principal {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.cabecalho {
    background-color: var(--secondary-background-color);
}

.cabecalho__sidebar {
    color: var(--font-color);
    font-family: var(--primary-font);
    width: 40vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cabecalho__headerbar {
    display: none;
    width: 100%;
}

.sidebar__titulo {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 3vh;
    margin: 30px;
}

.sidebar__item {
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 2vh;
}

.sidebar__item:hover {
    background-color: #3a4656;
}

.cabecalho__sidebar-mobile {
    display: none
}

.apresentacao {
    padding: 5vh;
    background-color: var(--primary-background-color);
    width: 100%;
    color: var(--font-color);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.apresentacao__titulo {
    font-weight: 400;
    font-size: 2rem;
}

.apresentacao__paragrafo {
    font-size: 1rem;
}

.apresentacao__imagem {
    width: 20vh;
}

.apresentacao__bloco {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap:wrap;
    justify-content: center;
}

.bloco__pagina {
    width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 30px;
    border: 2px solid var(--primary-background-color);
    background-color: var(--secondary-background-color);

}

.pagina__imagem {
    width: 100%;
}

.pagina__link {
    color: var(--font-color);
    font-size: 1.6rem;
    border: 2px solid var(--font-color);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.pagina__link:hover {
    background-color: var(--primary-background-color);
}

.rodape {
    background-color: #3a4656;
    padding: 20px 0 10px 0;
    color: var(--font-color);
    font-family: var(--primary-font);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

@media (max-width: 800px) {

    html {
        background-color: var(--secondary-back-color-hover);
    }
    
    .principal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .cabecalho {
        width: 100%;
    }
    
    .cabecalho__sidebar {
        display:none;
    }

    .cabecalho__headerbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}